@import "../../../../../src/_variables.scss";

.selectable-country-group{
  cursor: pointer;
}

#map-svg{
  width: 100%; 
  height: 100%;

  .cls-1 {
    fill: none;
  }

  .cls-2 {
    isolation: isolate;
  }

  .cls-3 {
    fill: #e5ecf4;
  }

  .cls-4 {
    clip-path: url(#clip-path);
  }

  .cls-5 {
    opacity: 0.5;
  }

  .cls-6,
  .cls-7 {
    fill: #bfd1e3;
    stroke: #004990;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }

  .cls-7 {
    fill-rule: evenodd;
  }

  .cls-8 {
    fill: url(#radial-gradient);
  }

  .cls-marker {
    opacity: 1;
    width: 28px;
  }

  .cls-marker-txt {
    font-weight: bold;
    font-size: 0.7em;
    background-color: white;
  }



}

path.selectable-country:hover, path.active {
  cursor: pointer;
  fill: $teal !important;
  
  xfill: $teal !important;
}



