@import '../../../../../src/_variables.scss';

.top-instructions{
    background-image: url(../../../../assets/resources/Instructions.svg);
    background-repeat: no-repeat;
    background-position: 57% -14%;
    background-size: 73% 74%;
    min-height: 20%;
    position: absolute;
    top: -1px;
    border: 1px solid red;
    width: 100%;
    height: 20%;
}

path.selectable-country:hover {
    cursor: pointer;
    fill: $teal !important;
}

path.active {
    cursor: pointer;
    fill: $teal !important;
}