<article id="study-article-right"
    class="row study-article mt-2"
    [ngClass]="countryClicked">


        <div class="study-details study-details-right">

            <div class="row row-psoriasis row-austria row-gb row-germany row-ireland row-sweden row-switzerland row-spain"
                id="APPRECIATE">
                <img src="assets/resources/Popup-Appreciate.svg"
                    alt="APPRECIATE" />
            </div>


            <div class="row row-psoriasis row-germany"
                id="APART">
                <img src="assets/resources/Popup-Apart.svg"
                    alt="APART" />
            </div>


            <div class="row row-plaque-psoriasis row-germany"
                id="LAPIS">
                <img src="assets/resources/Popup-Lapis.svg"
                    alt="LAPIS" />
            </div>


            <div class="row row-plaque-psoriasis row-italy"
                id="DARWIN">
                <img src="assets/resources/Popup-Darwin.svg"
                    alt="DARWIN" />
            </div>


        </div>
 
</article>