
#study-article-right {
    position: absolute;
    width: 100%;
    border: 2px solid green;
  }
  .study-details {
  
  
    img {
      margin-bottom: -11px;
      margin-top: -10px;
      min-height: 202px;
    }
  }
  
  .row-plaque-psoriasis,
  .row-plaque-psoriasis,
  .row-moderate-plaque-psoriasis {
    visibility: hidden;
  }
  
  .row-psoriasis,
  .row-plaque-psoriasis,
  .row-moderate-plaque-psoriasis {
    visibility: hidden;
  }
  
  
  //rows are mared row-greece etc.

    // austria: appreciate,
    // belgium: otelo,
    // france: etude 
    // german: appreciate, apart, lapis
    // gb: appreciate:
    // greece: appraisal
    // ireland: appreciate;
    // italy: darwin
    // netherlands: april;
    // spain: appropriate;
    // sweden: appreciate
    //switzerland: apprciate

  $countries: greece, italy, germany, belgium, netherlands,
   ireland, gb, france, spain, austria, switzerland, sweden;
  @each $country in $countries {

    .#{$country} .row-#{$country} {
      visibility: visible;
    }

  }

  