<div id="celgene-container" class="container-fluid" [attr.app-version]="title" >
  <div class="row">
    <div class="col-12 border-bottom-orange">
      <app-header class="ml-2">

      </app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12 wrap-map">
      <div class="top-instructions instructions-key">

       
<!--        
      <div style="background-color: teal">
          test orange marker 
          <img id="greece-orange-marker"
          class="cls-5 cls-marker"
          width="36" 
          src="assets/Map-Markers/Marker-GR-Orange.png"
         
          alt="orange marker" />
         </div>
         -->
          &nbsp;
      </div>
      <app-map class="app-map" ></app-map>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
