<div id="celgene-container" class="container-fluid">
  <div class="row">
    <div class="col-12 border-bottom-orange">
      <app-header class="ml-2">

      </app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12 wrap-map">
      <!-- <img class="main-map" src="../assets/resources/Map.svg" alt="Map of Europe" /> -->
      <!-- <svg viewBox="0 0 100 100">
                        <use href="../assets/resources/Map.svg"></use>
                    </svg> -->

      <!-- <object type="image/svg+xml" width="600" data="../assets/resources/Map.svg"></object> -->

      <app-map class="app-map" ></app-map>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
