#celgene-container {
    background-color: #161747;  //was darkblue
    
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;


    .border-bottom-orange{
        border-bottom: 4px solid orange;
    }

    .main-map{
        height: 100%;
        width: auto;
    }

    
}


