#celgene-container {
    background-color: darkblue;
    // background-image: url(../assets/resources/Map.svg);

    // min-height: 800px;
    // background-repeat: no-repeat;
    // background-size: 100%;

    .main-map{
        height: 100%;
        width: auto;
    }
}


