#celgene-footer{
    margin-top: -12.8%;
   // padding-top: 1.5rem;
}

#logo{
    background-image: url(../../../../assets/resources/Celgene-Logo.svg);
    width: 24%;
    height: 114px;
    background-repeat: no-repeat;
    position: relative;
    top: -8px;
    left: -12px;
}


.bottom-key{
    //moved into svg of map component. (easier to stick to bottom )
    // background-image: url(../../../../assets/resources/Bottom-Key.svg);
    background-repeat: no-repeat;
    background-position: -44px 10px;
    background-size: 103% 113%;
    max-height: 140px;
    border: 1px solid red;
}

.marker{
    height: 50px;
    width: 50px;
    border: 1px solid blue;
    display: block;
    background-repeat: no-repeat;
    background-position: 4px 0;

 }

 #bottom-disclaimer{
    font-size: 0.8rem;
    background-repeat: no-repeat;
    background-position: 66% 5%;
    background-size: 100% 100%;
    max-height: 157px;
    margin-left: 1rem;
    margin-top: .5rem;
 }

// .blue-map-marker .marker{
//     background-image: url(../../../../assets/resources/Blue-Map-Marker.svg);
//  }
// .green-map-marker .marker{ 
//     background-image: url(../../../../assets/resources/Green-Map-Marker.svg);
// }
// .orange-map-marker .marker{
//     background-image: url(../../../../assets/resources/Orange-Map-Marker.svg);
//  }