@import '../../../../variables';


#study-article {
    position: absolute;
    width: 100%;
    left: 2.1rem;
    // border: 2px solid gold;

    background: $gradientLeft;
    height: 66rem;
    top: -10px;
    left: 0;
    padding-left: 2rem;
  }
  .study-details {
 
    img {
      margin-bottom: -11px;
      margin-top: -10px;
      min-height: 202px;
    }
  }
  