<article id="study-article"
    class="row study-article mt-2"
    [ngClass]="countryClicked">

    <!-- 
    // austria: appreciate,
    // belgium: otelo,
    // france: etude 
    // german: appreciate, apart, lapis
    // gb: appreciate:
    // greece: appraisal
    // ireland: appreciate;
    // italy: darwin
    // netherlands: april;
    // spain: appropriate, appreciate;
    // sweden: appreciate
    //switzerland: apprciate
     -->


        <div class="study-details study-details-left">
            <div class="row row-plaque-psoriasis row-france"
                id="ETUDE">
                <img src="assets/resources/Popup-Etude.svg"
                    alt="ETUDE" />
            </div>
            <div class="row row-greece row-moderate-plaque-psoriasis"
                id="APRAISAL">
                <img src="assets/resources/Popup-Apraisal.svg"
                    alt="APRAISAL" />
            </div>


            <div class="row row-psoriasis row-belgium"
                id="OTELO">
                <img src="assets/resources/Popup-Otelo.svg"
                    alt="OTELO" />
            </div>


            <div class="row row-plaque-psoriasis row-spain"
                id="APPROPRIATE">
                <img src="assets/resources/Popup-Appropriate.svg"
                    alt="APPROPRIATE" />
            </div>

            <div class="row row-psoriasis row-netherlands"
                id="APRIL">
                <img src="assets/resources/Popup-April.svg"
                    alt="APRIL" />
            </div>

        </div>
 
    
</article>