<article id="study-article"
    class="row study-article mt-2"
    [ngClass]="countryClicked">

    <!-- 
    // austria: appreciate,
    // belgium: otelo,
    // france: etude 
    // german: appreciate, apart, lapis
    // gb: appreciate:
    // greece: appraisal
    // ireland: appreciate;
    // italy: darwin
    // netherlands: april;
    // spain: appropriate;
    // sweden: appreciate
    //switzerland: apprciate
     -->


    <div class="col-4">
        <div class="study-details study-details-left">
            <div class="row row-plaque-psoriasis row-france"
                id="ETUDE">
                <img src="assets/resources/ETUDE.svg"
                    alt="ETUDE" />
            </div>
            <div class="row row-greece row-moderate-plaque-psoriasis"
                id="APRAISAL">
                <img src="assets/resources/APRAISAL.svg"
                    alt="APRAISAL" />
            </div>


            <div class="row row-psoriasis row-belgium"
                id="OTELO">
                <img src="assets/resources/OTELO.svg"
                    alt="OTELO" />
            </div>


            <div class="row row-plaque-psoriasis row-spain"
                id="APPROPRIATE">
                <img src="assets/resources/APPROPRIATE.svg"
                    alt="APPROPRIATE" />
            </div>

            <div class="row row-psoriasis row-netherlands"
                id="APRIL">
                <img src="assets/resources/APRIL.svg"
                    alt="APRIL" />
            </div>

        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <div class="study-details study-details-right">

            <div class="row row-psoriasis row-austria row-gb row-germany row-ireland row-sweden row-switzerland"
                id="APPRECIATE">
                <img src="assets/resources/APPRECIATE.svg"
                    alt="APPRECIATE" />
            </div>


            <div class="row row-psoriasis row-germany"
                id="APART">
                <img src="assets/resources/APART.svg"
                    alt="APART" />
            </div>


            <div class="row row-plaque-psoriasis row-germany"
                id="LAPIS">
                <img src="assets/resources/LAPIS.svg"
                    alt="LAPIS" />
            </div>


            <div class="row row-plaque-psoriasis row-italy"
                id="DARWIN">
                <img src="assets/resources/DARWIN.svg"
                    alt="DARWIN" />
            </div>


        </div>
    </div>
</article>