
#study-article {
    position: absolute;
    width: 100%;
    // border: 2px solid gold;
  }
  .study-details {
  
    .row{
      // border: 1px solid gray; 
    }
  
    img {
      margin-bottom: -11px;
      margin-top: -10px;
      min-height: 202px;
    }
  }
  
  .row-plaque-psoriasis,
  .row-plaque-psoriasis,
  .row-moderate-plaque-psoriasis {
    visibility: hidden;
  }
  
  .row-psoriasis,
  .row-plaque-psoriasis,
  .row-moderate-plaque-psoriasis {
    visibility: hidden;
  }
  
  // // from the ngclasses
  // .greece .row-greece {
  //   visibility: visible;
  // }

  //rows are mared row-greece etc.

    // austria: appreciate,
    // belgium: otelo,
    // france: etude 
    // german: appreciate, apart, lapis
    // gb: appreciate:
    // greece: appraisal
    // ireland: appreciate;
    // italy: darwin
    // netherlands: april;
    // spain: appropriate;
    // sweden: appreciate
    //switzerland: apprciate

  $countries: greece, italy, germany, belgium, netherlands,
   ireland, gb, france, spain, austria, switzerland, sweden;
  @each $country in $countries {

    .#{$country} .row-#{$country} {
      visibility: visible;
    }

  }
  
  // from the ngclasses
  .psoriasis .row-psoriasis {
    visibility: visible;
  }
  
  .plaque-psoriasis .row-plaque-psoriasis {
    visibility: visible;
  }
  
  .moderate-plaque-psoriasis .row-moderate-plaque-psoriasis {
    visibility: visible;
  }
  