

$teal: rgb(57, 198, 225);

$greyishCloud: rgba(229, 236, 244, 1);
$grayishCloud0: rgba(229, 236,244, 0);

$gradientStart: 20%;
$gradientEnd: 60%;
$gradientLeft: linear-gradient(90deg, $greyishCloud $gradientStart, $grayishCloud0 $gradientEnd);
$gradientRight: linear-gradient(-90deg, $greyishCloud $gradientStart, $grayishCloud0 $gradientEnd);